
 html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

 body {
    background-color: #ecf0f1;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 185px;
    min-height: 100%;
  }


.header {
  width: 100%;
  padding: 2%;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: dodgerblue;
  font-size: 75px;
  text-align: center;
}

.navbarDistance {
  margin-top: 40px;
}

a:hover {
  color: #67b4c2 !important;
  transition: 0.2s;
  }

  h3 {
    color: #023678
  }

  div {
    border-radius: 0px !important;
  }

  .row {
    margin-left: 0px;
  }

.section-block {
  background-color: white;
  border: 1px solid #e3e3e3;
}

hr {
  border: none;
  margin-top: 5px;
  margin-bottom: 25px;
  opacity: 0.15;
}

select {
  height: 25px;
  border-radius: 0px;
}

.filters input {
  height: 25px;
  border-radius: 0px !important;
  border: 1px solid #767676;
}

h5 {
  font-size: 1.2em;
}

/*dropdown on hover*/
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

button {
  border-radius: 0px !important;
}

textarea:focus, input:focus, .uneditable-input:focus {   
  border-color:dodgerblue !important;
  outline: 0 none !important;
}

.root-div {
  margin: 0 auto;
  z-index: 9999 !important;
}

a:hover {
  text-decoration: none;
}

.hoverer:hover {
  background-color: #f2f2f2;
}

/*
.container {
  max-width: 100%;
}
*/

.userEditableFieldName {
  border-right: none !important;
  min-width: 100px;
}