  .swiper-pagination-bullets {
    bottom: 70px !important;
  }
  
  .swiper-pagination-bullet {
    background: white !important;
  }

  @media only screen and (max-width: 1200px) {
    .swiper-pagination-bullets {
      bottom: 87px !important;
    }
  }


  @media only screen and (max-width: 768px) {
    .swiper-pagination-bullets {
      bottom: 90px !important;
    }
  }

  .card {
    border: none !important;
  }