h1 {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: 26px;
}

#search-close-button {
  border: none;
  background-color: #42afe3;
  color: #fff;
  padding: 10px 22px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 3px solid #42afe3;
  font-size: 14px;
}

#search-close-button:hover {
  background: #fff;
  color: #42afe3;
}

.full-screen-search {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  padding: 40px 60px;
  color: #fff;
  height: 100vh;
  overflow-y: scroll;
  font-size: 2rem;
}

.full-screen-search-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  width: 100%;
  margin: 25px 0;
  font-size: 40px;
  letter-spacing: 1px;
  padding-left: 0;
  color: #fff;
  outline: none;
  min-height: 30px;
}

.close-button {
  position: absolute;
  right: 10px;
  background: #fff;
  border-radius: 9999px;
  padding: 10px 18px;
  font-size: 30px;
  color: rgba(0, 0, 0, .9);
  border: 0;
}

label {
  font-size: 30px;
}

.search-thumbnail {
  height: 50px;
}


.navbar-search-field {
  border-radius: 0px;
  border: 1px solid #d9d9d9;
}

#full-screen-search-results {
  background-color: #080808;
  opacity: 0.9;
  font-size: 0.5em;
}

#fullScreenSearchInput {
  font-size: 1.2rem;
}

.search-item {
  background-color: #010026;
}

.search-item-img-container {
  background-color: #070530;
}

@media only screen and (max-width: 768px) {
  .full-screen-search {
    padding: 5px 5px;
  }
}